<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>VasoAnalyzer Project</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>org.vasoanalyzer.vaso</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>VasoAnalyzerIcon.icns</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
        </dict>
        <dict>
            <key>CFBundleTypeName</key>
            <string>VasoAnalyzer Project Bundle</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>org.vasoanalyzer.vasopack</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>VasoAnalyzerIcon.icns</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
        </dict>
    </array>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>org.vasoanalyzer.vaso</string>
            <key>UTTypeDescription</key>
            <string>VasoAnalyzer Project</string>
            <key>UTTypeIconFile</key>
            <string>VasoAnalyzerIcon</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
                <string>public.archive</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>vaso</string>
                </array>
            </dict>
        </dict>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>org.vasoanalyzer.vasopack</string>
            <key>UTTypeDescription</key>
            <string>VasoAnalyzer Project Bundle</string>
            <key>UTTypeIconFile</key>
            <string>VasoAnalyzerIcon</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.folder</string>
                <string>com.apple.package</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>vasopack</string>
                </array>
            </dict>
        </dict>
    </array>
</dict>
</plist>
