# core plotting + data
matplotlib>=3.0
numpy>=1.18
pandas>=1.0
tifffile>=2020.7
imagecodecs>=2021.3   # optional, for TIFF compression support

# GUI
PyQt5>=5.15

# Excel export
openpyxl>=3.0

# for GitHub‑API version checks
requests>=2.25

# packaging
pyinstaller>=5.0       # needed to build the Windows executable
